<mat-sidenav-container class="sidenav-container, bg-blue">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list class="nav-list">
      <button
        class="menu-button"
        mat-list-item
        type="button"
        aria-label="load family tree"
        (click)="openLoadFamilyTreeModal()"
      >
        <mat-icon aria-label="Load family tree icon">cloud_upload</mat-icon>
      </button>
      <button
        class="menu-button"
        mat-list-item
        type="button"
        aria-label="save family tree"
        (click)="openSaveFamilyTreeModal()"
      >
        <mat-icon aria-label="Save family tree icon">save</mat-icon>
      </button>
    </mat-nav-list>
    <p class="version-tag">Version {{ APP_VERSION }}</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="bg-blue">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>{{ "PAGES.SIDEBAR.TITLE" | translate }}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="content">
      <app-home></app-home>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
