.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 120px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu-button {
  border: 0;
}

.version-tag {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.bg-blue {
  background-color: rgba(15, 30, 163, 0.699);
  color: white;
}

.content {
  height: 100%;
}